<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <add key="Nuget Squadra" value="http://www.squadra.com.br/Wings4Cloud.Nuget.Server/nuget/" />
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSources>
        <add key="Nuget Squadra" value="http://www.squadra.com.br/Wings4Cloud.Nuget.Server/nuget/" />
    </packageSources>
</configuration>