<?xml version="1.0" encoding="utf-8"?>
<Parameters>
  <TemplateID>AC85F4E6-1309-4A55-BCFB-A0BB678C1B6A</TemplateID>
  <InterfaceTemplateID>bd7d23a1-c92b-45c5-baec-ee5fae851570</InterfaceTemplateID>
  <TcpServicePort>9000</TcpServicePort>
  <TcpServiceMexPort>9001</TcpServiceMexPort>
  <SolutionDescription>Loja de Produtos de limpeza</SolutionDescription>
  <SolutionName>LojaProduto</SolutionName>
  <ServiceTag>antt.servicos</ServiceTag>
  <DatabaseTag>antt.databases</DatabaseTag>
  <Startup.WebProject>LojaProduto.Presentation</Startup.WebProject>
  <ORM>Nhibernate</ORM>
  <DatabaseType>SQLSERVER</DatabaseType>
  <Project.Common>LojaProduto.Common</Project.Common>
  <Project.Domain>LojaProduto.Domain</Project.Domain>
  <Project.Integration.Impl>LojaProduto.Integration.Impl</Project.Integration.Impl>
  <Project.Integration.Spec>LojaProduto.Integration.Spec</Project.Integration.Spec>
  <Project.Services.Impl>LojaProduto.Services.Impl</Project.Services.Impl>
  <Project.Services.Spec>LojaProduto.Services.Spec</Project.Services.Spec>
  <Project.Presentation>LojaProduto.Presentation</Project.Presentation>
  <Project.Services.ConsoleHost>LojaProduto.Services.ConsoleHost</Project.Services.ConsoleHost>
  <Project.Services.WebHost>LojaProduto.Services.WebHost</Project.Services.WebHost>
  <Project.Services.WindowsHost>LojaProduto.Services.WindowsHost</Project.Services.WindowsHost>
  <Path.Domain.Entities>LojaProduto.Domain.Entities</Path.Domain.Entities>
  <Path.Integration.Spec>LojaProduto.Integration.Spec</Path.Integration.Spec>
  <Path.Integration.Impl>LojaProduto.Integration.Impl</Path.Integration.Impl>
  <Path.Integration.Impl.Mappings>LojaProduto.Integration.Impl.Mappings</Path.Integration.Impl.Mappings>
  <Path.Services.Impl.Services>LojaProduto.Services.Impl.Services</Path.Services.Impl.Services>
  <Path.Services.Spec.DataTransferObjects>LojaProduto.Services.Spec.DataTransferObjects</Path.Services.Spec.DataTransferObjects>
  <Path.Services.Spec.Services>LojaProduto.Services.Spec.Services</Path.Services.Spec.Services>
  <Path.Services.WebHost.Services>LojaProduto.Services.WebHost.Services</Path.Services.WebHost.Services>
  <File.Aspects.xml>LojaProduto.Services.Impl.Config.Aspects.xml</File.Aspects.xml>
  <File.Database.xml>LojaProduto.Services.Impl.Config.Database.xml</File.Database.xml>
  <File.Hosts.xml>LojaProduto.Services.Impl.Config.Hosts.xml</File.Hosts.xml>
  <File.Integration.Xml>LojaProduto.Services.Impl.Config.Integration.Xml</File.Integration.Xml>
  <File.Services.xml>LojaProduto.Services.Impl.Config.Services.xml</File.Services.xml>
</Parameters>