@{
    ViewBag.Title = "Erro";
}

<div class="container geral">
    <div class="list-header clearfix">
        <h3>Erro</h3>
    </div>
    <div class="list-sfs-holder">
        <div class="alert alert-error">
            Ocorreu um erro inesperado. Contate seu administrador de sistema.
        </div>
        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div>
                    <pre>@Model.Exception.StackTrace</pre>
                </div>
            </div>
        }
    </div>
</div>