@{
    ViewBag.Title = "Acesso Negado";
}

<div class="container geral">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Acesso Negado!</h3>
            </div>
        </div>
    </div>
</div>
